footer {
  font-family: "Barlow", sans-serif;
  background-color: #202123;
  color: #ffffff;
}

footer .description {
  opacity: 0.7;
}

footer h3,h4 {
  font-family: "Bebas Neue", cursive;
}

footer .sub-content {
  font-size: 0.9rem;
  line-height: 1.6;
}

footer input[type="email"] {
  font-size: 15px;
  background-color: #414141;
}

footer .copyright {
  font-size: 0.8rem;
  padding-top: 5rem;
  color: white;
  opacity: 50%;
}
